@font-face {
  font-family: Robotic;
  src: url(android-7.regular.ttf);
}


* {
  position: relative;
  z-index: 1;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: 'Archivo Black', sans-serif;
    overflow-x: hidden;
    font-size: 1.1rem;
 }

 body {
  background-image: url(bg.svg);
  background-size: cover;
 }

 svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 0;  

 }
 .path {
   animation: draw 20s infinite;
   animation-timing-function: linear;
 }
 .path-01 {
   animation-delay: 0s;
 }
 .path-02 {
   animation-delay: 1s;
 }
 .path-03 {
   animation-delay: 2s;
 }
 .path-04 {
   animation-delay: 3s;
 }
 .path-05 {
   animation-delay: 4s;
 }
 
 
 
 @keyframes draw {
   0% {
   }
   100% {
     stroke-dashoffset: 0;
     stroke-opacity: 1;
   }
 }

.header-1 {
  font-family: Robotic;
  -webkit-text-stroke: #000000 3px;
  color: black;
  text-align: center;
  margin-top: 2rem;
}

li {
  list-style-image: url(favicon-16x16.png);
  list-style-position: inside;
}

.nrml {
  list-style-image: none;
}

.inline {
  display: inline-block;
}